@charset "utf-8";
/* CSS Document */
/* FONTS */
@font-face {
font-family: 'HelveticaNeueBold';
src: url('../assets/fonts/helveticaneue/HelveticaNeueBold.eot');
src: url('../assets/fonts/helveticaneue/HelveticaNeueBold.eot') format('embedded-opentype'),
url('../assets/fonts/helveticaneue/HelveticaNeueBold.woff2') format('woff2'),
url('../assets/fonts/helveticaneue/HelveticaNeueBold.woff') format('woff'),
url('../assets/fonts/helveticaneue/HelveticaNeueBold.ttf') format('truetype'),
url('../assets/fonts/helveticaneue/HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
font-family: 'helveticaneuewebfont';
src: url('../assets/fonts/helveticaneue/helveticaneuewebfont.eot');
src: url('../assets/fonts/helveticaneue/helveticaneuewebfont.eot') format('embedded-opentype'),
url('../assets/fonts/helveticaneue/helveticaneuewebfont.woff2') format('woff2'),
url('../assets/fonts/helveticaneue/helveticaneuewebfont.woff') format('woff'),
url('../assets/fonts/helveticaneue/helveticaneuewebfont.ttf') format('truetype'),
url('../assets/fonts/helveticaneue/helveticaneuewebfont.svg#helveticaneuewebfont') format('svg');
}
@font-face {
font-family: 'bentonsansregular-extralight';
src: url('../assets/fonts/benton/bentonsans-extralight_0-webfont.eot');
src: url('../assets/fonts/benton/bentonsans-extralight_0-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/benton/bentonsans-extralight_0-webfont.woff2') format('woff2'),
url('../assets/fonts/benton/bentonsans-extralight_0-webfont.woff') format('woff'),
url('../assets/fonts/benton/bentonsans-extralight_0-webfont.ttf') format('truetype'),
url('../assets/fonts/benton/bentonsans-extralight_0-webfont.svg#bentonsansregular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'bentonsansregular';
src: url('../assets/fonts/benton/bentonsans-book_0-webfont.eot');
src: url('../assets/fonts/benton/bentonsans-book_0-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/benton/bentonsans-book_0-webfont.woff2') format('woff2'),
url('../assets/fonts/benton/bentonsans-book_0-webfont.woff') format('woff'),
url('../assets/fonts/benton/bentonsans-book_0-webfont.ttf') format('truetype'),
url('../assets/fonts/benton/bentonsans-book_0-webfont.svg#bentonsansregular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'bentonsansbold';
src: url('../assets/fonts/benton/bentonsans-bold_0-webfont.eot');
src: url('../assets/fonts/benton/bentonsans-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/benton/bentonsans-bold_0-webfont.woff2') format('woff2'),
url('../assets/fonts/benton/bentonsans-bold_0-webfont.woff') format('woff'),
url('../assets/fonts/benton/bentonsans-bold_0-webfont.ttf') format('truetype'),
url('../assets/fonts/benton/bentonsans-bold_0-webfont.svg#bentonsansbold') format('svg');
font-weight: normal;
font-style: normal;
}
/*--------------------------------*/

/* GENERAL */
*{position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;  -webkit-tap-highlight-color:rgba(0,0,0,0)}
html, body { height:100%;}
body {font-family: 'bentonsansregular'; color:rgba(0,0,0,1.00); font-size:0; /*background-image:url(../assets/images/grid.png);*/ background-position: center; background-repeat:repeat-y; }
.skrollr-desktop body {  height:100% !important;}

*:focus { outline:0;}

h1,
h2 {  font-family: 'HelveticaNeueBold'; font-size:21px;  font-weight:900;}
h3,
h4 { font-family: 'bentonsansbold'; font-size:11px; line-height:14px; margin-bottom:20px;}
h4 { margin-top:0; margin-bottom:0;}
h1 span,
h2 span { font-family: 'bentonsansregular'; font-weight:normal;}
h3 span { font-family: 'bentonsansregular'; font-size:10px; color:#878988; line-height:12px; font-weight:normal; display:block; margin-top:6px;}

h1:first-child,
h2:first-child,
h3:first-child   { margin-top:0;}

h5 { font-family: 'bentonsansbold'; font-size: inherit;  margin-top:0; margin-bottom:5px;}
h5 span {font-family: 'bentonsansregular'; color:#868887; text-transform:none; font-size:auto; }

p {font-size:11px; line-height:15px; }
p:only-child { margin-bottom:5px;}
b,
p b { font-family: 'bentonsansbold';}
a { color:rgba(0,0,0,1.00); text-decoration:none !important; display:inline-block; cursor:pointer; }
a:hover { color:rgba(0,0,0,.6)} 
a:hover[class*=-icon-] { opacity:.5;}

input,
select { width:100%; border: 1px solid rgba(0,0,0,1.00); padding:5px 10px; -webkit-appearance: none; -moz-appearance: none;} 
label { font-size:13px; line-height:14px;}
hr,
.hr-02 { height:1px; border:0; background-color:rgba(0,0,0,1.00); margin-top:8px; margin-bottom:8px;}
.hr-02 {background-color: rgba(134,136,135,1.00);}

input[type=checkbox] { width:auto;}

select { background-image: url(../assets/images/arrow-down-select.svg) ;  background-position: right center;    background-repeat: no-repeat;}

input, select, lable, textarea {  border-radius:0; -webkit-border-radius:0;}

/* WIDTH */
.max-width-02 { max-width: 1160px;}
.max-width-03 { max-width:610px !important;}
.width-full { width:100%;}
.width-01 { width:250px;}
.width-02 { width:20px;}
/*------------------*/

/* PADDING */
.padding-null { padding:0;}
.padding-l-null { padding-left:0;}
.padding-r-null { padding-right:0;}
.padding-lr-01 { padding-left:60px; padding-right:60px;}
/*-------------------*/

/* MARGIN */
.margin-t-01 { margin-top: 40px;}
.margin-t-02 { margin-top: 20px;}

.margin-b-02 { margin-bottom: 10px;}

.margin-tb-01 { margin-top: 14px; margin-bottom:14px;}
.margin-tb-02 { margin-top: 10px; margin-bottom:10px;}
.margin-tb-03 { margin-top: 15px; margin-bottom:15px;}
.margin-tb-04 { margin-top:35px; margin-bottom:35px;}
/*-------------------*/
  
/* Vertical Align */
.v-align-t{vertical-align:top}
.v-align-b{vertical-align:bottom}
.v-align-m{vertical-align:middle}
.v-align_li-m li{vertical-align:middle}
/*----------------*/

/* DISPLAY */
.display-table{ display: table;}
.display-tablecell { display: table-cell;}
/*----------------------*/

/* COLOR */
.clr-gray-01 { color: rgba(134,136,135,1.00);}
/*-------------*/


/* SELECTS */
.select-white-01 .caret, 
.select-white-02 .caret { width: 39px; height: 42px; margin-top: 0 !important; top: -1px !important; right: -1px !important; border: 1px solid rgba(0,0,0,1.00);}
.select-white-01 .caret:before { content: ""; width: 39px; height: 42px; background-position: -1px -98px; background-color: rgba(0,0,0,1.00); position: absolute; top: -1px; right: -1px; display: block; opacity: 0;}
.select-white-01 .caret:hover:before { opacity: 1;}

.select-white-01 .btn, 
.select-white-02 .btn { background-color: rgba(255,255,255,1.00) !important; padding-top: 10px; padding-bottom: 10px; padding-right: 38px; border: 1px solid rgba(0,0,0,1.00); border-radius: 0; -webkit-border-radius: 0;}

.select-white-01.form-control span, 
.select-white-02.form-control span {font-family: 'HelveticaNeueBold'; font-size: 16px; line-height: 19px; text-align: center !important;    text-transform: uppercase;}
.select-white-01 .caret { background-position: -1px -54px;}

.select-white-02.form-control span {  font-size: 10px;  line-height: 11px;  text-align: left !important;}

.arrowenter-select { width:39px; height:42px; background-position:-43px -54px;}
.arrowenter-select span {width:38px; height:40px; background-position:-43px -98px; background-color:rgba(0,0,0,1.00); display:block; opacity:0;}
.arrowenter-select:hover span { opacity:1;}

.select-black-01 { color: rgba(255,255,255,1.00); background-color: rgba(0,0,0,1.00); border: none; padding: 5px 10px; cursor: pointer; -webkit-appearance: none; -moz-appearance: none;}
.select-black-01 option {color: rgba(0,0,0,1.00); background-color: rgba(255,255,255,1.00); border: 1px solid rgba(0,0,0,1.00);}

.select-white-01 .dropdown-menu.open,
.select-white-02 .dropdown-menu.open { top:114%; left:50%; border-radius:0; -webkit-border-radius:0; box-shadow:none; overflow:visible !important; -webkit-box-shadow:none; transform:translateX(-50%); -webkit-transform:translateX(-50%); }
.select-white-01 .dropdown-menu li a,
.select-white-02 .dropdown-menu li a { padding:3px 10px; outline:none !important;}
.select-white-01 .dropdown-menu li a:hover:after { content:""; width:1px; height:100%; background-color:rgba(0,0,0,1.00); left:-0px; top:0; position:absolute; display:inline-block;}

.select-white-02.form-control { height:auto;}
.select-white-02.form-control span { font-size:10px; line-height:11px; text-align:left !important;}
.select-white-02 .btn { font-size:0; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:38px;}
.select-white-02 .caret { top:5px !important; right:3px !important; border:none;}
.select-white-02 .dropdown-menu.open { top:20px; border:1px solid rgba(0,0,0,1.00);}
.select-white-02 .dropdown-menu li a { line-height:15px; padding:0px 10px; outline:none !important;}
/*------------------*/

/* BTN */
#btn-enter { position: absolute; top: 0px; right: 0px; display: none; border: 1px solid rgba(0,0,0,1.00); z-index: 2;}

.btn-style-02 { min-width: 150px; font-family: 'bentonsansregular'; font-size: 15px; line-height: 16px; text-align: center; text-transform: uppercase; background-color: rgba(255,255,255,1.00); border: 1px solid rgba(0,0,0,1.00); padding: 10px 30px; margin-top: 10px; margin-bottom: 10px;}
.btn-style-02:hover { color:#FFFFFF; background-color:rgba(0,0,0,1.00);}

.btn-style-03 { min-width: 150px; font-family: 'bentonsansregular'; font-size: 15px; color:rgba(255,255,255,1.00); line-height: 16px; text-align: center; text-transform: uppercase; background-color: rgba(0,0,0,1.00); border: 1px solid rgba(0,0,0,1.00); padding: 10px 30px; margin-top: 10px; margin-bottom: 10px;}
.btn-style-03:hover { color:rgba(0,0,0,1.00); background-color:rgba(255,255,255,1.00);}

.btn-style-04 { font-size:11px; text-decoration:underline;}

.btn-style-01 { font-family: 'bentonsansbold'; font-size: 10px;}
button { background-color: transparent; border: none;}
/*----------------*/

/* CENTER V */
.center-v { top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.center-h { left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%);}
.center-vh { top:50%; left:50%; transform:translateY(-50%) translateX(-50%); -webkit-transform:translateY(-50%) translateX(-50%);}
/*----------------*/

/* IMAGES */
.facebook-icon-01, 
.instagram-icon-01, 
.modal .close, 
.btn-close, 
.jspArrow, 
.arrow-down-01, 
.arrow-up-01, 
.select-white-01 .caret, 
.select-white-01 .caret:before, 
.select-white-02 .caret, 
.arrowenter-select, 
.arrowenter-select span, 
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-fwd, 
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-bwd, 
.icon-gift-01, 
.icon-gift-02, 
.icon-gift-03,
.icon-update-01, 
.icon-faq-01, 
.icon-bank-01,
.btnm-cart-shot > a span,
.btn-goback,
.delete-icon-red { background-image: url(../assets/images/sprite.svg);  display: inline-block;}

.facebook-icon-01 { width: 11px; height: 23px; background-position: 0 0;}
.instagram-icon-01 {width: 23px; height: 23px; background-position: -17px 0;}

.jspArrow.jspArrowUp { background-position:-35px -27px;}
.jspArrow.jspArrowDown{ background-position:-22px -27px;}

.arrow-down-01,
.arrow-up-01 { width:25px; height:11px; background-position:-49px -33px;}
.arrow-up-01 { background-position:-79px -33px;}

.btnm-cart-shot > a span {background-position:15px 0px;}

.img-full-w {width:100%; height:auto;}

.select-white-02 .caret { width:16px; height:8px; background-position:-88px -83px;}

#producto .ms-thumb-list.ms-dir-h .ms-thumblist-fwd,
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-bwd { width:13px; height:13px;}
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-fwd { background-position:-89px -54px;}
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-bwd { background-position:-89px -68px;}

.btn-goback {width:23px; height:18px; background-position:-79px -174px;}

.icon-faq-01 { width: 16px; height: 16px; background-position: -55px -181px; display: block;  cursor: pointer;}

.icon-gift-02 { width: 11px; height: 15px; background-position: -90px -97px;}
.icon-update-01 {width: 16px; height: 17px; background-position: -54px -162px; background-color: transparent; border: none;}
.icon-gift-01 { width: 46px; height: 64px; background-position: -2px -141px;}
.icon-gift-03 { width: 44px; height: 63px; background-position: -3px -209px;}

.icon-bank-01 { width:23px; height:23px; background-position:-79px -144px; margin-bottom:-7px; margin-left:5px}

.delete-icon-red { width:13px; height:13px; background-position:-56px -200px;} 
/*-----------------*/

/* OTHERS */
.box-pink-01,
.box-pink-02,
.box-pink-03 {  height: 440px; background-color: rgba(253,242,242,1.00);  mix-blend-mode: multiply;}

.gradient-white-b-01 { width:100%; height:40px; position: fixed; bottom: 0px; left: 0;  z-index: 10;
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );}

.hidden-box-01{ transform:translateY(100%); -webkit-transform:translateY(100%)}
.show-box-01{ transform:translateY(0); -webkit-transform:translateY(0)}

.shadow-01 {-webkit-box-shadow: 8px 8px 4px -2px rgba(0,0,0,.1); -moz-box-shadow: 8px 8px 4px -2px rgba(0,0,0,.1);* box-shadow: 8px 8px 4px -2px rgba(0,0,0,.1);}
/*-------------------------*/

/* CUSTOM BOOTSTRAP */
[class*=col-] { display: inline-block; float: none;}

.img-responsive { display:inline-block;}
.bootstrap-select .ropdown-toggle:focus { outline: none !important; outline-offset: 0;}
.form-control:focus { border:1px solid rgba(0,0,0,1.00) !important; outline: 0; -webkit-box-shadow:none ; box-shadow: none; border-radius:0; -webkit-border-radius:0;}
.bootstrap-select .btn:focus { outline: none !important;}
.bootstrap-select .btn:focus{outline:none!important;}
/*---------------------------*/

/* INTRO */
.intro-mobile { width:100%; height:100%; background-color:rgba(255,255,255,1.00); position:absolute; top:0; left:0; z-index:50}
.intro-mobile ul { width:100%;}
.intro-mobile ul a { width:220px;}
/*-------------------*/

/* NAV + HEADER */
header { position: fixed; top:0;   z-index:100;}
header .cont-logo { margin-top:15px;}

.contg-menu { width:0px; position:fixed; z-index:100}
.contg-menu nav { padding-top:1px;}

.first-menu, 
.second-menu {width: 150px; font-family: 'HelveticaNeueBold'; font-size: 21px; line-height: 20px;}

.first-menu { position:absolute; top:150px;}
.first-menu ul li:last-child { margin-bottom: 15px;}

.first-menu ul,
.second-menu,
.cont-social_newsletter input {font-family: 'bentonsansregular'; font-size: 15px; position: relative;  padding-left: 35px;}
.second-menu {font-size: 15px; line-height: 17px;font-weight: normal; padding-left:0; margin-top:400px; margin-bottom:50px;}

.first-menu a.active, 
.second-menu a.active { font-family: 'HelveticaNeueBold';}

.first-menu ul {  position: relative !important;  }

.cont-social_newsletter { width: 170px; font-family: 'HelveticaNeueBold';}
.cont-social_newsletter h3 { font-size: 14px; font-weight: 300;  margin-top: 10px;  margin-bottom: 5px;}
.cont-social_newsletter input { width: 108px;  font-size: 10px; line-height: 10px;  background-color: rgba(254,243,243,1.00); padding: 5px; border: none;}

header .btn-goback { position:absolute; top:25px; left:15px;}

/*-----------------------*/

/* CART E IDIOMA */
.cont-card_leng > li > a { font-family: 'bentonsansbold';}
@-moz-document url-prefix() { .cont-card_leng > li {margin-left:5px; margin-right:5px;  top:1px;}}
@-moz-document url-prefix() { .select-black-01 {padding: 1px 4px;}}
.btnm-cart-shot > a span { width:15px; height:15px; color:rgba(255,255,255,1.00); text-align:center; line-height:15px; background-color: rgba(198,96,113,1.00); display:inline-block; margin-left:3px; top:-2px; vertical-align:middle; border-radius:100%; -webkit-border-radius:100%;}

.cont-card_leng .box-resumen-shop { min-width:310px; text-transform:none; background-color:rgba(255,255,255,.95); border:1px solid  rgba(0,0,0,1.00); padding:15px 20px 5px 20px; left:auto; right:0; }
.cont-card_leng .box-resumen-shop h4 {font-family: 'bentonsansregular'; font-size:10px; line-height:11px; margin-top:0; margin-bottom:0; margin-left:-3px;}
.cont-card_leng .box-resumen-shop .item-resumen { padding-top:8px; padding-bottom:8px;}
.cont-card_leng .box-resumen-shop [class*=col-] { padding-left:0; padding-right:0;}
.cont-card_leng .box-resumen-shop .item-resumen:after { content:""; width:100%; height:1px; background-color:rgba(135,137,136,1.00); display:block; position:absolute; bottom:0; left:0; }
.cont-card_leng .box-resumen-shop .item-resumen:last-child:after {background-color:rgba(0,0,0,1.00);}
.cont-card_leng .box-resumen-shop .total-price { font-family: 'HelveticaNeueBold'; padding-top:10px;}
.cont-card_leng .box-resumen-shop .btn-style-02 { max-width:158px;  margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px; display:block; }
.cont-card_leng .box-resumen-shop p {font-family: 'bentonsansregular'; font-size:10px; color:rgba(135,137,136,1.00);}

.btnm-cart-shot:after { content:""; width:28px; height:2px; background-color:rgba(0,0,0,0); display:block; margin-top:-2px; margin-bottom:5px;}
.btnm-cart-shot.sfHover:after { background-color:rgba(0,0,0,1.00); }

.cont-card_leng,
.copyright-footer,
.links-info-general,
.hastgat-laclinicadesing { font-family: 'bentonsansregular'; font-size:10px; line-height:10px; position:fixed; bottom:30px; right:60px; }
.cont-card_leng { top:40px; bottom:auto;}
.links-info-general { top:45px; bottom:auto; right:200px;}

.menu-btn{width:23px; padding:1px 0; top:18px; margin-left:18px; display:inline-block;  vertical-align:middle}
.menu-btn span{width:100%; height:2px; background-color: rgba(102,102,102,1.00); margin:5px 0; display:block; -webkit-border-radius:20px; border-radius:20px}
.btn-close { width: 14px; height: 14px; background-color: transparent; background-position: -1px -29px; border: 0; margin-top:15px; margin-bottom:20px; opacity: 1; display:block;}
/*-----------------*/

/* CONTENIDOS */
main { padding-top:100px; padding-bottom:50px;}
.home-cont {padding-top:0; padding-bottom:0;}

.info-section h1:after,
h1:after  { content:""; width:18px; height:2px; background-color:rgba(0,0,0,1.00); display:block; margin-top:10px;}

.hastgat-laclinicadesing { width:200px; height:25px; font-size:11px; text-decoration:underline !important; background-color:rgba(255,255,255,1.00); padding-top:5px; margin:auto;  top:21px; bottom:auto; left:0; right:0; z-index:100;}

.contg-image-fixed-01 { position: fixed; margin-left:-5%; margin-top:3%; z-index:-1;}

.box-pink-01 { width:55%;  height: 530px; position:absolute; top:-100px; }
.box-pink-02 { position:fixed; top:130px; left:0;}
.box-pink-03  { height:400px; margin-top:60px; position:absolute; z-index:-1;}
/*-------------------------------*/

/* HOME */
#slider-home .info-section { width:21%; position:absolute; top:100px; right:50px; z-index:3}
#slider-home .info-section h1 { margin-bottom:70px;}

.contg-menuhome-mobile #slider-swing { padding-bottom:3px;}
.contg-menuhome-mobile #slider-swing h2 { font-size:39px;}
.contg-menuhome-mobile h2 { width:100%; margin-top:0; margin-bottom:0; position:absolute; z-index:3;}
.contg-menuhome-mobile .container-fluid { padding-left:0; padding-right:0; overflow:hidden;}
.contg-menuhome-mobile .row { margin-right: -4px;  margin-left: -4px;}
.contg-menuhome-mobile .col-xs-6 { padding-left:2px; padding-right:2px;}
/*---------------------*/

/* Grid */
[class*=contgrid-] { width:100%; }
[class*=contgrid-]:nth-child(n+2) { padding-top:100px; padding-bottom:100px;}
[class*=contgrid-] [class*=objgrid-] { display: inline-block; vertical-align: top; margin-left:1.3%; margin-right:1.3%; }
[class*=contgrid-] .info-section { width:275px; padding:10px;  position:absolute; top:10%; right:0; z-index:3}
[class*=contgrid-] .info-section h1 {  margin-bottom:50px; }
[class*=contgrid-] .info-section h1:after,
[class*=cont_content] h1:after  { content:""; width:18px; height:2px; background-color:rgba(0,0,0,1.00); display:block; margin-top:10px;}

/* GRID 01 */
.contgrid-style-01 .objgrid-01 { width:24%; margin-left:8%; }
.contgrid-style-01 .objgrid-02 { width:23%; margin-top:80px; }
.contgrid-style-01 .objgrid-03 { width:15%; margin-top:40px; }
.contgrid-style-01 .objgrid-04 { width:32.5%; margin-left:-5px; margin-top:-11%;}
.contgrid-style-01 .objgrid-05 { width:24%;  position: absolute; bottom:6%; right:7%; }
/*----------*/
/* GRID 02 */
.contgrid-style-02 .objgrid-01 { width:52%; margin-left:8%; margin-top:2%;}
.contgrid-style-02 .objgrid-02 { width:22%; position:absolute; margin-top:4%; right:23%; z-index:2; }
.contgrid-style-02 .objgrid-03 { width:30%; margin-top:23%; }
/*---------*/
/* GRID 03 */
.contgrid-style-03 .objgrid-01 { width:32%; margin-left:8%; margin-top:2.5%;}
.contgrid-style-03 .objgrid-02 { width:23%; margin-left:9%; margin-top:-1% }
.contgrid-style-03 .objgrid-03 { width:35%; margin-top:-20%; margin-left:35% }
/*---------*/
/* GRID 04 */
.contgrid-style-04 .objgrid-01 { width:24%; margin-left:8%; vertical-align:middle; z-index:2;}
.contgrid-style-04 .objgrid-02 { width:33%; margin-left:-7%; vertical-align:middle;  }
.contgrid-style-04 .objgrid-03 { width:23%; vertical-align:bottom; margin-bottom:1%;}
/*---------*/
/* GRID 05 */
.contgrid-style-05 .objgrid-01 { width:51%; margin-left:8%; margin-top:8%; }
.contgrid-style-05 .objgrid-02 { width:30%; margin-left:-15%;  }
.contgrid-style-05 .objgrid-03 { margin-top:-21%; margin-left:53%; }
/*---------*/
/* GRID 06 */
.contgrid-style-06 .objgrid-01 {width:42%; margin-left:8%; margin-top:-3%; vertical-align: middle}
.contgrid-style-06 .objgrid-02 { width:33%; margin-left:-8%; margin-top:-3%; vertical-align: middle; }
/*---------*/
/* GRID 07 */
.contgrid-style-07 .objgrid-01 { width:42%; margin-left:8%; margin-top:6%; }
.contgrid-style-07 .objgrid-02 { width:23%; margin-left:-7%;  }
.contgrid-style-07 .objgrid-03 { width:30%; margin-left:53%; margin-top:-8%}
/*---------*/
/* GRID 08 */
.contgrid-style-08 .objgrid-01 { width:24%; margin-left:16%; vertical-align:middle; }
.contgrid-style-08 .objgrid-02 { width:32%; vertical-align:middle;  }
.contgrid-style-08 .objgrid-03 { width:25%; margin-bottom:2%;  margin-left:-7%; vertical-align:bottom;}
/*---------*/
/* GRID 09 */
.contgrid-style-09 .objgrid-01 { width:15%; margin-left:7%; margin-top:-2%; }
.contgrid-style-09 .objgrid-02 { width:24%; margin-top:-.4%;  }
.contgrid-style-09 .objgrid-03 { width:23%; margin-top:2% }
.contgrid-style-09 .objgrid-04 { width:23%; margin-left:7%; margin-top:1.5%; }
.contgrid-style-09 .objgrid-05 { width:16%; margin-top:.5%; }
.contgrid-style-09 .objgrid-06 { width:15%; margin-top:2.5%; }
.contgrid-style-09 .objgrid-07 { width:23%; margin-left:15%; margin-top:2.5%; }
.contgrid-style-09 .objgrid-08 { width:15%; margin-left:12%; margin-top:-1.5%; }
.contgrid-style-09 .objgrid-09 { width:15%; margin-top:-8%; }
.contgrid-style-09 .objgrid-10 { width:13.5%; margin-top:-4%; padding-right:0; margin-right:0; }
/*---------*/
/*---------*/

/* PRODUCTO */
.contg-product .price {font-family: 'HelveticaNeueBold'; font-size:20px;  margin-top:0;}
.contg-product .price b { font-weight:700;}

.cong-info-product {padding-left:40px;}

.opt-custom-product,
.contg-info-product { margin-top:60px;}
.opt-custom-product h5 {  font-family: 'bentonsansbold'; font-size:10px; line-height:10px; margin-top:5px; margin-bottom:0;}

.select-white-02 .filter-option { overflow:visible;}
.select-white-02 span i,
.select-white-02 .dropdown-menu li a .glyphicon { width:8px; height:8px; margin-right:3px; top:1px;}

.select-white-02 .dropdown-menu.open,
.select-white-02 .dropdown-menu.inner { height:auto !important; min-height:inherit !important; overflow:visible !important;}

.chose-color-white { border:1px solid rgba(0,0,0,1.00);}
.chose-color-pink { background-color:#ffdfdd;}
.chose-color-blue { background-color:#2e2d73;}
.chose-color-smurf { background-color:#a1dfdd;}
.chose-color-yellow { background-color:#ffff00;}

[class*=chose-metal-] {width: 0; height: 0; border-style: solid; border-width: 8px 0 0 8px;}
.chose-metal-brass {border-color: transparent transparent transparent #bfa858;}
.chose-metal-aluminium {border-color: transparent transparent transparent #868887;}

[class*=chose-rope-] { border-radius:100%; -webkit-border-radius:100%; }
.chose-rope-white { border:1px solid rgba(0,0,0,1.00);}
.chose-rope-black { background-color: #000000;}
.chose-rope-yellow { background-color:#ffff00;}
.chose-rope-green { background-color:#00CF78;}

.contg-info-tabs {  height:115px}
.contg-info-tabs .scroll-pane{  height:118px}
.scroll-pane .jspPane{ margin-left:0px !important;}
.scroll-pane.jspScrollable .jspPane{ margin-left:23px !important;}

.tab-content > .tab-pane { width:100%; display: block; position:absolute;  z-index:1;}
.tab-content > .active { display: block; z-index:3;}

#producto {padding-bottom:140px;}
#producto .ms-thumb-list{ height:125px; margin-top:10px; padding-bottom: 30px; position:absolute !important; }
/*#producto .ms-thumb-frame  { margin-right:21px;}*/
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-fwd,
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-bwd  { background-color:transparent; left:auto; right:0; top:auto; bottom:2px; z-index:10}
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-fwd:after,
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after { display:none;} 
#producto .ms-thumb-list.ms-dir-h .ms-thumblist-fwd { right:15px;}
.master-slider .ms-bullet { width:10px; height:10px;  border:1px solid rgba(255,255,255,1.00); border-radius:100%; -webkit-border-radius:100%;}
.master-slider .ms-bullet-selected { background-color:rgba(255,255,255,1.00);}

#producto .ms-view {background-color:transparent;}

.opt-custom-product h5 { font-family: 'bentonsansbold'; font-size: 10px; line-height: 10px; margin-top: 5px;  margin-bottom: 0;}

.opt-select-mobile { width:100%; background-color:rgba(255,255,255,.95); padding:20px 5px; position: fixed; left:0; bottom:0; border-top:1px solid rgba(0,0,0,1.00);}
.opt-select-mobile h5 { font-family: 'bentonsansregular'; font-size:11px; text-decoration:underline; margin-bottom:10px;}
.opt-select-mobile .btn-close { position:absolute; top:-5px; right:15px;}
.item-select-mobile { padding-left:5px; padding-right:5px;}
.item-select-mobile h4 { margin-top:10px;}
/*-----------------------*/

/* PRESS */
.cont-presskit {position: absolute; left:0; bottom: 22%;}
/*------------------------*/

/* SHOOPINGCART */
.cont-resumen-shop [class*=col-] { margin-right:-2px;}
.cont-column-l-shoopincart { height:100%; color:#FFFFFF; background-image:url(../assets/images/bg-cartshop.jpg); background-position:center right; background-size:cover; padding:0 15px; margin-left:-15px; position:fixed; top:0; }
.cont-column-l-shoopincart h2 { font-size:50px; line-height:45px;}
.cont-column-l-shoopincart h3 { font-family: 'bentonsansregular'; font-size:20px; font-weight:normal; padding-bottom:100px;}

.cont-resumen-shop { padding-left:60px; padding-right:50px; margin-bottom:50px}
.contg-list-resumen { font-size:9px; line-height:10px; margin-top:60px;}
.contg-list-resumen  .item-resumen-shop [class*=col-]  { font-size:9px; line-height:10px;}
.contg-list-resumen  .cont-id-columns .icon-gift-02 { margin-top:-3px;}

.contg-list-resumen  .item-resumen-shop { font-size:0; margin-top:10px; margin-bottom:10px;}
.contg-list-resumen  .item-resumen-shop,
.contg-list-resumen  .cont-id-columns { font-family: 'bentonsansbold'; margin-left:-5px; margin-right:-5px;}
.contg-list-resumen  .cont-id-columns [class*=col-],
.contg-list-resumen  .item-resumen-shop [class*=col-] { padding-left:5px; padding-right:5px; }
.contg-list-resumen  .item-resumen-shop [class*=col-] { display:inline-block; vertical-align:middle; float:none;}
.contg-list-resumen  .item-resumen-shop  .incrementer { margin-left:auto; margin-right:auto;}
.contg-list-resumen  .cont-id-columns [class*=col-] { float:left;}

.contg-list-resumen  .item-resumen-shop { font-family: 'bentonsansregular';}
.contg-list-resumen  .item-resumen-shop:after { content:""; width:calc(100% - 10px); height:1px; background-color:rgba(134,136,135,1.00); margin:0 auto; display:block; transform:translateY(5px); -webkit-transform:translateY(5px)}
.contg-list-resumen  .item-resumen-shop a {display:block;}
.contg-list-resumen  .item-resumen-shop .img-item,
.contg-list-resumen  .item-resumen-shop .name-item,
.contg-list-resumen  .item-resumen-shop .cont-faq-icon,
.contg-list-resumen  .item-resumen-shop .name-item  { display:inline-block; vertical-align: middle;}
.contg-list-resumen  .item-resumen-shop .img-item { margin-left:2px; margin-right:2px;}
.contg-list-resumen  .item-resumen-shop .name-item { width:calc(100% - 38px);}
.contg-list-resumen  .item-resumen-shop .name-item h3 { margin-top:0; margin-bottom:0px; }
.contg-list-resumen  .item-resumen-shop .name-item p { color:#868887; margin-bottom:0;}
.contg-list-resumen  .item-resumen-shop .icon-update-01 { position:absolute; top:-1px; right:-5px; z-index:3}

.contg-resumen-items .item-resumen-shop:last-child:after { display:none;}

.contg-resumen-items .box-gift-wrapping { width:calc(100% - 10px); background-color: rgba(238,238,238,.5); margin-top:5px; margin-left:5px; margin-bottom:-5px; padding:8px 0;}
.contg-list-resumen  .item-resumen-shop .cont-faq-icon { padding:5px 8px;}
/*-------------------------*/

/* CHECKOUT */
.contg-checkout [class*=col-] {float:left;}
.contg-checkout {font-family: 'helveticaneuewebfont'; font-size:15px; background-image:url(../assets/images/pattern-arrows-01.svg); background-repeat:repeat; background-attachment:fixed;}
.contg-checkout .container-fluid { background-color:rgba(255,255,255,1.00); padding:50px 30px 30px; border-left:1px solid rgba(0,0,0,1.00); border-right:1px solid rgba(0,0,0,1.00);}
.contg-checkout header { font-family: 'bentonsansregular';  width:100%; height:auto; font-size:11px; font-weight:normal; background-color:#eeeeee; padding:20px 10px; position: absolute; left:0;}
.contg-checkout header+div { margin-top:50px;}
.contg-checkout header+div h1 { margin-bottom:20px;}

.contg-checkout h1 {font-family: 'HelveticaNeueBold';  font-size:40px; line-height:30px; }
.contg-checkout h1:after {display:none;}
.contg-checkout h1 span { font-size:20px; line-height:20px;}
.contg-checkout h2 { font-size:19px;}
.contg-checkout label { margin-top:7px;}
.contg-checkout p { font-size:15px; line-height:19px; }

.box-item-cehckout { margin-top:15px; margin-bottom:15px;}
.box-item-cehckout .img-item,
.box-item-cehckout .name-item {font-family: 'HelveticaNeueBold';  display:inline-block; vertical-align:top;}
.box-item-cehckout .name-item { width:calc(100% - 68px); padding-left:6px;}
.box-item-cehckout .name-item h3 { font-family: 'HelveticaNeueBold';; font-size:15px; margin-bottom:5px; }
.box-item-cehckout .name-item p {font-family: 'bentonsansregular'; font-size:14px; font-weight:normal;}
.box-item-cehckout .name-item h4 { font-family: 'bentonsansregular'; font-size:10px; color:rgba(134,136,135,1.00);}

.contg-checkout footer { position: relative; padding-right:0; margin-top:30px; top:0}
.contg-checkout footer p { font-size:11px;}
/*----------------------*/

/* FOOTER */
footer { max-width: 1200px; font-family: 'bentonsansregular'; font-size:10px; line-height:10px;}
/*-----------------------------*/


/* FX HOVER */
[class*=fx-h-] { display: block; }
[class*=fx-h-] .layer-white { width:100%; height:100%; background-color:rgba(255,255,255,.0); position:absolute; top:0; left:0; z-index:2;}
[class*=fx-h-] h2 { width:100%; color:rgba(0,0,0,1.00); line-height:18px; padding-left:15px; padding-right:15px; margin-top:0; margin-bottom:0; position:absolute; z-index:3; opacity:0;}
.fx-h-01:hover h2 {  opacity:1;}
[class*=fx-h-]:hover .layer-white {background-color:rgba(255,255,255,.8); }

.fx-h-02 article {width:100%; position:absolute; z-index:3; opacity:0; }
.fx-h-02 h2 { position:relative; opacity:1;}
.fx-h-02 hr { width:18px; margin-top:15px; margin-bottom:15px;}
.fx-h-02 p {font-family: 'HelveticaNeueBold'; font-size:20px;}
.fx-h-02  p b { font-weight:700;}

.fx-h-02:hover article,
.fx-h-02:hover h2,
.fx-h-02:hover p { color:rgba(0,0,0,1.00); opacity:1; }
/*-------------------------*/

/* TABS */
.tabs-style-01 .nav-tabs { border:none;}
.tabs-style-01 .nav-tabs+hr { margin-top:0;}
.tabs-style-01 .nav-tabs > li > a {  font-family: 'bentonsansregular'; font-size:10px; line-height:10px; color:rgba(0,0,0,1.00); background-color:transparent; border:none; padding:10px 0; border-bottom:3px solid rgba(0,0,0,.0) }
.tabs-style-01 .nav-tabs > li.active > a {font-family: 'bentonsansbold'; border-bottom:3px solid rgba(0,0,0,1); }
.tabs-style-01 .nav-tabs > li.active > a:hover, 
.tabs-style-01 .nav-tabs > li.active > a:focus {color:rgba(0,0,0,1.00); background-color:transparent; border:none; border-bottom:3px solid rgba(0,0,0,1); padding:10px 0;}
/*------------------------*/

/* ARROW NAVIGATION */
.js-next,
.js-prev { width:100%; max-width:200px; background-color:transparent; border:none; outline:none; margin:auto; position:fixed; top:15px; left:0; right:0; z-index:10}
.js-next {top:auto; bottom:15px;}
.js-prev { display:none;}
.show-arrow { display:block;}
.hidden-arrow { display: none;}
.only-arrow {width:100%}
/*-------------------------------*/

/* M SLIDER */
.ms-view { background-color:transparent;}

/* SUPERFISH */
.sf-menu ul{position:absolute; display:none; top:100%; left:0; z-index:99}
/*-----------------------------*/

/* INCREMENT */
.incrementer {width:80px;}
.incrementer [class*=number-items-] { width:45px; font-family: 'bentonsansbold'; font-size:13px; line-height:13px; text-align:right; background-color: rgba(238,238,238,1.00); margin-left:15px; padding:15px 5px; border:none; }
.incrementer .plus,
.incrementer .minus { font-family: 'bentonsansregular'; font-size:25px; line-height:25px; position:absolute; left:0; top:10px;}
.incrementer .minus { transform:scaleX(2); -webkit-transform:scaleX(2);}
.incrementer .plus { left:auto; right:0;}

.incrementer-style-02 .incrementer { width:53px;}
.incrementer-style-02 .incrementer [class*=number-items-] { width:25px; font-family: 'bentonsansbold'; font-size:9px; line-height:10px;  margin-left:13px; padding:2px 5px; }
.incrementer-style-02 .incrementer .plus,
.incrementer-style-02 .incrementer .minus { font-family: 'bentonsansregular'; font-size:20px; line-height:3px; position:absolute; top:4px;}
/*------------------------*/

/* CHECK BOX */
input[class*=checkbox-] { display:none;}
[class*=checkbox-]:not(:checked), 
[class*=checkbox-]:checked{position:absolute; left:-9999px}
[class*=checkbox-]:not(:checked)+label, 
[class*=checkbox-]:checked+label{/* font-family: 'OpenSansLight'; font-size:20px; color:#8a8a8a; line-height: 20px; padding-top:5px; padding-bottom:5px; padding-left:35px;*/ margin-bottom:0; display:block; cursor:pointer}
[class*=checkbox-]:not(:checked)+label{width:95%; display:block; }

[type="checkbox"]:not(:checked)+label:before, 
[type="checkbox"]:checked+label:before{width:11px; height:11px; content:''; border:1px solid rgba(0,0,0,1.00);  display:inline-block;}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {width:11px; height:11px; content:''; background-image: url(../assets/images/sprite.svg);  background-position: -4px -32px; position: absolute; left:0px; top:0px; display:block; border:1px solid rgba(0,0,0,.0);  opacity:0}

[type="checkbox"]:checked+label:after{ opacity:1}

.checkbox-01+label { width:11px; max-width:11px; display:block; margin-left:auto; margin-right:0;}

/* Tooltip */
.smallipop-hint{ display:none}
.smallipop-instance{ max-width:215px;  text-align:center; background-color:rgba(255,255,255,1.00); padding:15px; position:absolute;  display:none;  top:0;  left:0; border:1px solid  rgba(0,0,0,1.00);  z-index:600; -webkit-box-shadow: 8px 8px 4px -2px rgba(0,0,0,.1); -moz-box-shadow: 8px 8px 4px -2px rgba(0,0,0,.1); box-shadow: 8px 8px 4px -2px rgba(0,0,0,.1); transform:translateX(-40px); -webkit-transform:translateX(-40px)}
/*--------------------*/

/* MODAL */
.modal {display: block !important;  transform:translateY(-100%); -webkit-transform:translateY(-100%);}
.modal-dialog { width: 870px;}
.modal-open .modal[class*=in] { padding-left: 0px !important; padding-right: 0px !important; overflow: hidden;  z-index: 1050; transform:translateY(0%); -webkit-transform:translateY(0%);}

.modal-content { width: 870px; height: 90%; border-color: rgba(0,0,0,1.00); border-radius: 0; -webkit-border-radius: 0;}
.modal .close { width: 15px; height: 15px; background-color: transparent; background-position: -1px -29px; border: 0; top: 20px; right: 20px; opacity: 1;}
.modal-content button.close { z-index: 5;}
.modal-body { padding: 50px 80px; overflow: hidden;}
.modal .scroll-pane { width: 100% !important; max-height: 500px; overflow: auto; outline: none !important;}
.jspContainer {overflow: hidden; position: relative;}
.scroll-pane .jspPane{ margin-left:0px !important;}
.scroll-pane.jspScrollable .jspPane{ margin-left:23px !important;}

.modal .scroll-pane {width: 100% !important; max-height:500px; overflow: auto; outline:none !important; }
.modal-content h5 {font-family: 'bentonsansregular'; font-size:10px; width:100%; position:absolute; top:20px;  text-decoration:underline;}

.modal-backdrop { background-color: rgba(242,232,232,1.00);}

.modal-open .gradient-white-b-01 { z-index:1060;}

.modal-open .tab-content > .tab-pane { position:relative; opacity:1; margin-top:10px;}

.modal-style-02 h2 span { display:block;}
.modal-style-02 .modal-dialog,
.modal-style-02 .modal-content { width:300px; height:auto; margin-left:auto !important; margin-right:auto !important;}
.modal-style-02 .modal-body { padding:20px 5px; margin:0 15px !important; display:block !important;}
/*----------------------*/

/* SCROLLPANE */
.jspContainer{overflow:hidden; position:relative}
.jspPane{position:absolute;/* margin-left:30px !important;*/}
.jspVerticalBar{position:absolute; top:0; left:0; width:13px; height:100%; }
.jspHorizontalBar{position:absolute; bottom:0; left:0; width:100%; height:16px; background:red}
.jspCap{display:none}
.jspHorizontalBar .jspCap{float:left}
.jspTrack{ background-color:transparent; position:relative}
.jspDrag{ width:1px; position:relative; top:0; left:0; cursor:pointer}
.jspHorizontalBar .jspTrack, 
.jspHorizontalBar .jspDrag{float:left; height:100%}
.jspArrow{ text-indent:-20000px; display:block; cursor:pointer; padding:0; margin:0}
.jspArrow.jspDisabled{cursor:default; opacity:0;}
.jspVerticalBar .jspArrow{height:19px}
.jspHorizontalBar .jspArrow{width:16px; float:left; height:100%}
.jspVerticalBar .jspArrow:focus{outline:none}
.jspCorner{background:#eeeef4; float:left; height:100%}
* html .jspCorner{margin:0 -3px 0 0}
/*-------------------------*/

/* CARROUSEL */
.owl-theme .owl-controls{margin-top:-40px; text-align:center}
.owl-theme .owl-controls .owl-page{display:inline-block; zoom:1; *display:inline}
.owl-theme .owl-controls .owl-page span{display:block; width:12px; height:12px; margin:5px 7px; border:1px solid rgba(255,255,255,1.00); -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; }
.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span{ background:rgba(255,255,255,1.00);}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto; width:auto; color:#FFF; padding:2px 10px; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px}
/*-----------------------*/

/* TRANSITION */
a,
.pushy,
.container-move,
[class*=fx-h-] article,
[class*=fx-h-] h2,
[class*=fx-h-] .layer-white,
.fx-h-02 hr,
.fx-h-02 p,
.arrowenter-select span,
.select-white-01 .caret:before,
.opt-select-mobile,
.modal {-webkit-transition:all 400ms cubic-bezier(0.520,0.005,0.000,0.995); -moz-transition:all 400ms cubic-bezier(0.520,0.005,0.000,0.995); -o-transition:all 400ms cubic-bezier(0.520,0.005,0.000,0.995); transition:all 400ms cubic-bezier(0.520,0.005,0.000,0.995); /* custom */-webkit-transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995); -moz-transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995); -o-transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995); transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995)}

button {-webkit-transition:background-color 400ms cubic-bezier(0.520,0.005,0.000,0.995); -moz-transition:background-color 400ms cubic-bezier(0.520,0.005,0.000,0.995); -o-transition:background-color 400ms cubic-bezier(0.520,0.005,0.000,0.995); transition:background-color 400ms cubic-bezier(0.520,0.005,0.000,0.995); /* custom */-webkit-transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995); -moz-transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995); -o-transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995); transition-timing-function:cubic-bezier(0.520,0.005,0.000,0.995)}

.modal {-webkit-transition:.7s; -moz-transition:.7s; -o-transition:.7s; transition:.7s;}
/*------------------*/

/* RESPONSIVE */
@media screen and (max-width:1050px){
body.padding-lr-01 {padding-left:15px; padding-right:15px;}

.cont-card_leng,
.copyright-footer,
.links-info-general { right: 15px;}
.links-info-general { right: 160px;}

/* SLIDER HOME */
#slider-home .info-section { right:15px; }
/*---------------------*/

/* SHOPCART */
.cont-resumen-shop { padding-left: 15px;  padding-right: 15px;}
/*----------------------*/
}

@media screen and (max-width:970px){

.relative-sm { position:relative;}

.modal-content,
.modal-dialog { width: auto;}

/* TEXT */
.text-center-sm { text-align:center;}
/*--------------------*/

/* SLIDER HOME */
#slider-home .info-section { width:40%; }
/*---------------------*/

/*GRID */
[class*=contgrid-]:nth-child(n+2) { padding-top:100px; padding-bottom:0px;}
[class*=contgrid-] .info-section { width: 100%; margin-bottom:0px; margin-top:30px; padding: 10px 10px 10px 190px; position: relative;}

/* GRID 01 */
.contgrid-style-01 .objgrid-01 { width:27%; }
.contgrid-style-01 .objgrid-02 { width:24%; }
.contgrid-style-01 .objgrid-03 { width:18%;  }
.contgrid-style-01 .objgrid-04 { width:35.5%; }
.contgrid-style-01 .objgrid-05 { width:28%; bottom:4%; right:0px; margin-right:0; }
/*---------*/
/* GRID 03 */
.contgrid-style-03 .objgrid-01 { width:45%; }
.contgrid-style-03 .objgrid-02 { width:35%; margin-left:5%; margin-top:-1% }
.contgrid-style-03 .objgrid-03 { width:40%; margin-top:-25%; margin-left:45% }
/*---------*/	
/* GRID 04 */
.contgrid-style-04 .objgrid-01 { width:28%; }
.contgrid-style-04 .objgrid-02 { width:35%; }
.contgrid-style-04 .objgrid-03 { width:30%; }
/*---------*/
/* GRID 05 */
.contgrid-style-05 .objgrid-01 { width:53%;   }
.contgrid-style-05 .objgrid-02 { width:30%; margin-left:-7%;  }
.contgrid-style-05 .objgrid-03 { margin-left:55%; }
/*---------*/
/* GRID 06 */
.contgrid-style-06 .objgrid-01 {width:50%;  margin-top:0%; }
.contgrid-style-06 .objgrid-02 { width:43%;  margin-top:0%; margin-left:-5%;  }
/*---------*/
/* GRID 07 */
.contgrid-style-07 .objgrid-01 { width:53%; }
.contgrid-style-07 .objgrid-02 { width:28%; }
.contgrid-style-07 .objgrid-03 { width:35%; margin-left:65%; margin-top:-10%}
/*---------*/

/*------*/

/* SHOPCART */
.cont-column-l-shoopincart {width: calc(100% + 30px); height:300px; position: relative; margin-right: -15px; margin-top: -100px; margin-bottom:30px;}
.cont-column-l-shoopincart .center-v { width:100%; position:absolute; left:0;}
.cont-column-l-shoopincart h3 { padding-bottom:0;}

.cont-resumen-shop { float:none !important;}

/*-------------------*/

 /* Producto */
 .cong-info-product { padding-left:15px;}
 /*----------------------*/
}

@media screen and (max-width:750px){	

body.padding-lr-01 {padding-left:0; padding-right:0;}
main,
.home-cont { padding-top: 55px; padding-bottom:55px;}

.panding-lr-null-xs { padding-left:0; padding-right:0;}

/* TEXT */
.text-center-xs { text-align:center;}
.text-right-xs { text-align: right;}
/*--------------------*/

/* Margin */
.margin-tb-01-xs { margin-top: 2px;  margin-bottom: 2px;}

.margin-t-null-xs {margin-top:0px;}
.margin-t-01-xs {margin-top:30px;}
/*---------------------*/

/* PADDING */
.padding-l-null-xs { padding-left:0;}
/*------------------*/

/* BTN */
.btn-style-02-xs { width:100%; height:67px; font-size: 11px; text-decoration:underline !important; position:fixed; margin-bottom:0; left:0; bottom:0; z-index:111;}
.btn-style-03-xs { width:100%; color: rgba(255,255,255,1.00); background-color: rgba(0,0,0,1.00);}
/*---------------*/

/* NAV + HEADER */
header { width:100%; height:55px; background-color:rgba(255,255,255,1.00);}
header .cont-logo { width:23px; margin:auto; position:absolute; top:20px; left:0; right:0;}
header .cont-logo img { width:23px; height:auto;}
.first-menu { position:relative; margin-bottom:30px; top:0;}
.second-menu { margin-top:0;}
.second-menu li,
.first-menu li { margin-bottom:6px;}

.cont-card_leng { top:25px; right:15px;}
/*------------------*/

.copyright-footer,
.links-info-general { position: relative; top:0; right:0; bottom:0;}

.links-info-general,
.cont-social_newsletter { margin-bottom:30px;}
.links-info-general li { display:block; margin-bottom:10px;}

.btnm-cart-shot > a { font-size:0;}
.btnm-cart-shot > a span { width:18px; height:21px; font-size:10px; background-color:transparent; background-position:-87px -116px; margin-top:-3px; padding-top:5px; border-radius:0; -webkit-border-radius:0;}

.pushy{ width:270px; height:100%; background-color:rgba(255,255,255,1.00); border-right:1px solid rgba(0,0,0,1.00); position:fixed; padding:0 10px; margin:0; top:0; left:0; bottom:0; z-index:8000; overflow:auto; -webkit-overflow-scrolling:touch}

.pushy-left{-webkit-transform:translate3d(-270px,0,0);  -moz-transform:translate3d(-270px,0,0);  -ms-transform:translate3d(-270px,0,0);  -o-transform:translate3d(-270px,0,0);  transform:translate3d(-290px,0,0)}
.pushy-active .site-overlay{display:block;  position:fixed;  top:0;  right:0;  bottom:0;  left:0;  z-index:7999; }

.container-push, .push-push{-webkit-transform: translateX(270px); -moz-transform: translateX(270px); -ms-transform: translateX(270px); -o-transform: translateX(270px); transform: translateX(270px);}

.pushy-active { max-height:100%; overflow:hidden;}
/*-----------------------------*/

/* GRID 01 */
[class*=contgrid-]:nth-child(n+2) { padding-top: 30px; padding-bottom: 0px;}
[class*=contgrid-] .info-section { width:100%; padding:10px; margin-top:5px; margin-bottom:0px;}
[class*=contgrid-] .info-section h1 { margin-top:8px; margin-bottom:5px;}
[class*=contgrid-] .info-section h1:after { display:none;}
[class*=contgrid-] .info-section h1 span { font-size:20px; display: block; text-transform:none;}
[class*=fx-h-] h2 { width:100%; text-align:left; opacity:1; top:0; transform:none; -webkit-transform:none; top:auto; bottom:15px; left:0;}

[class*=contgrid-] [class*=objgrid-] { width:100%; position:relative; margin-top:3px; margin-bottom:3px; margin-left:0; margin-right:0; left:0; right:0; top:0; bottom:0;}
/*---------*/

/* Producto */
#producto { padding-bottom: 15px;}
.cong-info-product h1:after { display:none}
.contg-product .price { font-size: 21px; line-height:22px;}
/*------------------------/*

/* SHOCART */
.contg-list-resumen { margin-top: 0px;}
.cont-column-l-shoopincart { margin-bottom: 0px;}
.cont-resumen-shop { padding-left: 0px;  padding-right: 0px;}

.item-resumen-shop .cont-check-gift { margin-top:9px;  float:left !important;}
.item-resumen-shop .cont-check-gift  [class*=checkbox-]+label { width:11px; margin-left:auto; margin-right:auto;}

.cont-column-l-shoopincart {  width: calc(100% + 30px); height: auto;margin-top: -60px; margin-bottom: -9px; padding-top:20px; padding-bottom:20px;}
.mensaje-gisf-mobile h2 { font-size:24px; line-height:22px;}
.mensaje-gisf-mobile h3,
.mensaje-gisf-mobile h3 span { font-size:19px; color:rgba(255,255,255,1.00); line-height:15px; margin-top:10px;}
.mensaje-gisf-mobile .icon-gift-01 { margin-bottom:-10px; transform:scale(.9); -webkit-transform:scale(.9);}
.mensaje-gisf-mobile .arrow-gift {  position:absolute; left:0px; bottom:-30px; }
.item-resumen-shop .total-price-item  { font-family: 'bentonsansbold'; font-size:11px !important;}
.item-resumen-shop .total-price-item .delete-icon-red { margin-left:auto; margin-right:0; margin-bottom:3px;}
.item-resumen-shop .total-price-item .qty-mobile { display:inline-block !important; margin-right:4px;}

.contg-list-resumen .contg-shipping-cost,
.contg-list-resumen .contg-total-shoppingcart  { font-size:11px !important;}
.contg-list-resumen .contg-shipping-cost span { color:rgba(0,0,0,1.00); display:block;}
.contg-list-resumen .contg-shipping-cost div {font-family: 'bentonsansbold';}
.contg-list-resumen .contg-total-shoppingcart .total-price { font-size:20px !important;}
/*------------------------------*/
 
/* Contact */
.contg-image-fixed-01 { position:relative; margin-left:0; margin-right:0; margin-top:0; top:0; left:-20px; padding-left:0; padding-right:0;  transform:none; -webkit-transform:none;}
/*------------------------*/

/* CHECKOUT */
.contg-checkout h1 { font-size: 30px; line-height: 26px;}
.contg-checkout h1 span { font-size: 18px; line-height: 18px;}
/*-------------------*/

/* FX HOVER */
.fx-h-02 article { text-align:left;  top:auto; bottom:20px; left:0; opacity:1; transform:none; -webkit-transform:none;}
.fx-h-02 article .price,
.fx-h-02 article hr { display:none;}
/*-------------------------*/

/* Modal */
.modal-content button.close {position:absolute; left:20px; right:auto; }
.modal-body { height:100%; padding: 50px 15px 0px 15px;}
.modal-dialog {height: 100%; margin: 0px;}
.modal-content {  height: 100%; border:none;}

/* SCROLLPANE */
.scroll-pane.jspScrollable .jspPane {    margin-left:0px !important;}
.modal .scroll-pane { height:100%; max-height: inherit;}
.jspVerticalBar { display:none;}

/* Carrousel */

.owl-carousel .owl-wrapper:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0}
/* display none until init */
.owl-carousel{display:none; position:relative; width:100%; -ms-touch-action:pan-y}
.owl-carousel .owl-wrapper{display:none; position:relative; -webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-wrapper-outer{overflow:hidden; position:relative; width:100%}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out; -moz-transition:height 500ms ease-in-out; -ms-transition:height 500ms ease-in-out; -o-transition:height 500ms ease-in-out; transition:height 500ms ease-in-out}

.owl-carousel .owl-item{float:left}
.owl-controls .owl-page, 
.owl-controls .owl-buttons div{cursor:pointer}
.owl-controls{-webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-tap-highlight-color:rgba(0,0,0,0)}

/* mouse grab icon */
.grabbing{ cursor:url(grabbing.png) 8 8,move}

/* fix */
.owl-carousel .owl-wrapper, 
.owl-carousel .owl-item{-webkit-backface-visibility:hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden;  -webkit-transform:translate3d(0,0,0);  -moz-transform:translate3d(0,0,0);  -ms-transform:translate3d(0,0,0)}

}
/*-----------------------*/